@use "src/base";


.kanji-test-inner {
    .input-row {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 12px;
        margin-bottom: 24px;

        input {
            &:focus {
                outline-color: base.$color-primary;
            }
        }
    }


    .title {
        font-size: 24px;
        margin-bottom: 20px;
    }

    .japanese-word {
        margin-top: 24px;
        margin-bottom: 14px;
        font-size: 60px;
        font-weight: 200;
        font-family: 'Noto Serif JP', serif;
        background: rgba(white, 0.8);
        border-radius: 12px;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        height: 140px;
        display: flex;
        align-items: center;
        align-self: stretch;
        justify-content: center;
        color: darken(#502665, 10%);
        border: 1px solid #502665;
        position: relative;
    }

    .kana-preview-container {
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        &.compact {
            display: none;
            position: absolute;
            font-size: 12px !important;
            left: 0;
            bottom: 0;
            height: initial;
            padding: 8px;
            font-family: arial, sans-serif;
            color: #999;
        }

        .instructions {
            letter-spacing: 0.3px;
            color: #777;
            font-size: 16px;
        }

        .kana-preview {
            font-size: 30px;
        }
    }


    .translation-input {
        width: 80%;
        padding: 14px;
        font-size: 18px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    .suggested-translations {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: start;

        p {
            margin: 5px 0;
            color: #888;
            font-size: 16px;
        }
    }

    .progress-bar {
        width: 100%;
        height: 5px;
        background-color: lighten(base.$color-primary, 60%);
        border-radius: 2px;
        overflow: hidden;

        .progress {
            height: 5px;
            background-color: base.$color-primary;
        }
    }

    .info {
        padding-top: 12px;
        font-size: 13px;
        display: flex;
        width: 100%;
        color: #555;
        align-items: center;
        justify-content: space-between;
    }
}


/* Media query for mobile screens */
@media (max-width: 768px) {
    .kanji-test-inner .kana-preview-container {
        display: none;

        &.compact {
            display: block !important;
        }
    }
}
